.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-background;
    
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.adress-main{
        @media screen and (min-width: 1200px) {
        margin-right: 69px;
    }
    & ul{
        color: $adres-text-color;
        text-decoration: none;
    }
}
.logo-f{
  display: inline-block;
  padding-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em; 
}
.footer-adress {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    .city {
        color: $primary-white-color;
        text-decoration: none;
    }

    .item {
    
        margin-bottom: 8px;
        
        text-decoration: none;
color: rgba(255, 255, 255, 0.6);
        &:last-child {
            margin-bottom: 0px;
        }
    }
}


.article{
  display: inline-block;
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    width: 206px;
}

.img-social{
  border: 50%;
}

.social .link {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & .link + .link {
  margin-left: 10px;
}
  }
.social .link,
.subscribe {
    display: inline-block;
    margin-bottom: auto;

    color: $primary-white-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.button-f {

    margin-left: auto;
    margin-right: auto;

    // display: inline-block;

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    text-align: center;

    border: 0;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}

.button-f::after {
  content: ' ';
  background-image: url(../images/iconsend.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}


// /* Разметка формы в футере */

.subscribe {
    // display: flex;
    // flex-direction: column;

    input {
        margin: 0;
        padding: 0;
        width: 100%;
        // height: 50px;
        padding: 15px 16px;
        margin-bottom: 20px;

        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: $footer-background;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        @media screen and (min-width: 768px) {
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }

    input::placeholder {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);


    }
}

.footer-tablet {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
    }
}

.flex-footer {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        // padding-bottom: 28px;
    }
}

.footer .adress-main {

    @media screen and (min-width: 480px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin: 0px 69px 28px 0;
    }
}

.footer .social {
    margin-bottom: 60px;
}

.input {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}


.button-f {
    
        @media screen and (min-width: 768px) {
            display: block;
        }
    @media screen and (min-width: 1200px) {
        display: inline-block;
        margin-left: 12px;
    }
}