.taem-main {
    background-color:  #F5F4FA;
        padding-top: 60px;
        padding-bottom: 60px;
    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
}
.team {
 .item {
      display: flex;
      flex-wrap: wrap;
        width: 100%;
        height: auto;
        background-color: $primary-white-color;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        @media screen and (max-width: 767px) {

            &:not(:last-child) {
                margin-bottom: 30px;

            }

        }

        @media screen and (min-width: 768px) {
            width: calc((100% - 4*15px) / 2);
            height: auto;
            margin: 15px;
        }

        @media screen and (min-width: 1200px) {
          display: flex;  
          width: calc((100% - 8*15px) / 4);
            height: auto;
            margin: 15px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc(100%-2*15px);
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

}

.card-command {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 24px;
    width: 100%;

}




    .img-social {
     display: flex;
     align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
       &:hover,
       &:focus{
       border-radius: 50%;
       background-color: #2196f3;
       --color4: #ffffff;
       cursor: pointer;
      }}
.person {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Профессии нашей команды */
.job {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team img {
    display: block;
    max-width: 100%;
    height: auto;
}




